* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS, 기존 CSS 죽이기 */
a { 
    color: inherit; /* 부모의 색깔을 상속받기 */
    text-decoration: none;
}
button,
textarea,
input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    border: none;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

button {
    width: 140px;
    
    padding: 12px 32px;
    display: block;
    border: none;
    border-radius: 2px;

    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    transition: opacity 250ms ease-in;
}

/* Landing */
.landing {
    background-color: #FDDED8;
    text-align: center;
}

.landing-content {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.landing h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 24px;
    text-align: center;
}

.landing p {
    line-height: 1.375;
    margin-bottom: 24px;
}

.landing .buttonGroup {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
}

.landing .buttonGroup button:first-child {
    background-color: #3040C4;
    color: #FFFF;
    margin-right: 8px;
}
.landing .buttonGroup button:last-child {
    background-color:#FFFF;
    color: #3040C4;
}

/* service */
.service {
    background-color: #F4F5F7;
    
}

.service-content {
    width: 100%;
    padding: 80px 0;
}

.service-title {
    font-size: 22px;
    line-height: 1.36363636;
    letter-spacing: -0.04em;
    font-weight: 700;

    margin-bottom: 16px;
}

.first .service-description{
    margin-bottom: 40px;
}
/* Program */
.program {
    height: 1377px;
}
/* Curriculum */
.curriculum {
    height: 706px;
}
/* Banner */
.banner {
    height: 588px;
}

/* Footer */
.footer {
    height: 136px;
}

/* Desktop size(768px 이상) */
@media screen and (min-width: 768px) {
    p {
    font-size: 22px;
    line-height: 1.363636;
    }

    button {
        width: 160px;
        height: 56px;
        padding: 14px 35px;
    
        font-size: 18px;
        line-height: 1.5555;
        
    }

    /* Landing */
    .landing-content {
        height: auto;
        padding: 120px 0;
    }
    .landing h1 {
        font-size: 70px;
        line-height: 1.02857;
        letter-spacing: -0.05em;
        margin-bottom: 32px;
    }

    .landing p {
        font-size: 22px;
        margin-bottom: 32px;
    }

    .landing .buttonGroup button:first-child {
        margin-right: 16px;
    }

    /* service */
    .service-content {
        display: flex;

    }
    .service-title {
        font-size: 26px;
        line-height: 1.41666;
    }
    .first {
        margin-right: 110px;
    }

}

/* Custom Gird System */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }

}

