* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS, 기존 CSS 죽이기 */
a { 
    color: inherit; /* 부모의 색깔을 상속받기 */
    text-decoration: none;
}
button,
textarea,
input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    border: none;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    box-shadow: none;
    outline: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

button {
    width: 140px;
    
    padding: 12px 32px;
    display: block;
    border: none;
    border-radius: 2px;

    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    transition: opacity 250ms ease-in;
}

/* Landing */
.landing {
    background-color: #FDDED8;
    text-align: center;
}

.landing-content {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.landing h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 24px;
    text-align: center;
}

.landing p {
    line-height: 1.375;
    margin-bottom: 24px;
}

.landing .buttonGroup {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
}

.landing .buttonGroup button:first-child {
    background-color: #3040C4;
    color: #FFFF;
    margin-right: 8px;
}
.landing .buttonGroup button:last-child {
    background-color:#FFFF;
    color: #3040C4;
}

/* service */
.service {
    background-color: #F4F5F7;
    
}

.service-content {
    width: 100%;
    padding: 80px 0;
}

.service-title {
    font-size: 22px;
    line-height: 1.36363636;
    letter-spacing: -0.04em;
    font-weight: 700;

    margin-bottom: 16px;
}

.first .service-description{
    margin-bottom: 40px;
}
/* Program */
.program {
    padding: 80px 0;
}

.program-header {
    margin-bottom: 32px;
}

.program-category {
    font-weight: 700;
    color: #009B4D;
    margin-bottom: 8px;
}

.program-title {
    font-size: 34px;
    line-height: 1.05882;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.program-content {
    display: flex;
    flex-direction: column;
}

.program-img-box {
    border: none;
    border-radius: 8px;

    width: 290px;
    height: 291px;

    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    margin-bottom: 20px;
}

.program-img-box:last-child {
    margin-bottom: 0;
}

.program-img-box img {
    width: auto;
    height: 195px;
    margin-bottom: 16px;
}

.program-img-title {
    font-size: 18px;
    line-height: 1.333333;
    letter-spacing: -0.02em;
    font-weight: 700;
}
/* Curriculum */
.curriculum {
    padding: 80px 0;
}

.curriculum-header {
    margin-bottom: 48px;
}

.curriculum-category {
    font-weight: 700;
    color: #0189D1;
    margin-bottom: 8px;
}

.curriculum-title {
    font-size: 34px;
    line-height: 1.058823;
    letter-spacing: -0.03em;
    color: #2B292D;
    margin-bottom: 24px;
}

.curriculum-description {
    margin-bottom: 32px;
}

.curriculum-header button {
    background-color: #3040C4;
    color: #FFFF;
}

.curriculum-item:first-child {
    margin-bottom: 40px;
}

.curriculum-img {
    display: none;
}

/* Banner */
.banner {
    height: 588px;
}

/* Footer */
.footer {
    height: 136px;
}

/* Desktop size(768px 이상) */
@media screen and (min-width: 768px) {
    p {
    font-size: 22px;
    line-height: 1.363636;
    }

    button {
        width: 160px;
        height: 56px;
        padding: 14px 35px;
    
        font-size: 18px;
        line-height: 1.5555;
        
    }

    /* Landing */
    .landing-content {
        height: auto;
        padding: 120px 0;
    }
    .landing h1 {
        font-size: 70px;
        line-height: 1.02857;
        letter-spacing: -0.05em;
        margin-bottom: 32px;
    }

    .landing p {
        font-size: 22px;
        margin-bottom: 32px;
    }

    .landing .buttonGroup button:first-child {
        margin-right: 16px;
    }

    /* service */
    .service-content {
        display: flex;

    }
    .service-title {
        font-size: 26px;
        line-height: 1.41666;
    }
    .first {
        margin-right: 110px;
    }
    .first .service-description{
        margin-bottom: 0;
    }

    /* Program */
    .program-header {
        margin-bottom: 72px;
    }

    .program-category {
        text-align: center;
        font-size: 22px;
        line-height: 1.090909;
        margin-bottom: 16px;
    }

    .program-title {
        text-align: center;
        font-size: 56px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .program-description {
        padding: 0 80px;
        text-align: center;
        font-size: 22px;
        line-height: 1.45454545;
    }

    .program-content {
        display: flex;
        flex-direction: row;
    }

    .program-img-box {
        width: 290px;
        height: 299px;
        margin-right: 30px;

        cursor: pointer;
    }

    .program-img-box:nth-child(2) {
        color: #FFFFFF;
        background-color: #3141C5;
    }

    .program-img-box:last-child {
        margin-right: 0;
    }
    /* Curriculum */
    .curriculum .col-12:first {
        display: flex;
        flex-direction: row;

    }

    .curriculum-header {
        width: 450px;
        margin: 0 13px 66px 0;
    }

    .curriculum-category {
        font-size: 22px;
        line-height: 1.090909;
        margin-bottom: 16px;
    }

    .curriculum-title {
        font-size: 56px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .curriculum-description {
        font-size: 22px;
        line-height: 1.454545;
        margin-bottom: 72px;
        
    }
    .curriculum-header button {
        font-size: 0;
    }
    .curriculum-header button::after{
        display: inline;
        content : 'Learn more';
        font-size: 18px;
        line-height: 1.5555;
        
        letter-spacing: -0.05em;
    }

    .curriculum-img {
        display: block;
        width: 425px;
        height: 425px;
        margin-bottom: 24px;
    }

    .curriculum-details {
        display: flex;
        margin-bottom: 16px;
    }

    .curriculum-item {
        width: 450px;
        font-size: 18px;
        line-height: 1.4444444;
        
    }
    .curriculum-item:first-child {
        margin-right: 30px;
        margin-bottom: 0;
    }
}

/* Custom Gird System */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }

}

